@{
    ViewData["Title"] = "Payment Success";
    Layout = "_Layout";
}

<div class="success-wrapper">
    <div class="success-container">
        <div class="card">
            <div class="success-icon">
                <i class="checkmark">✓</i>
            </div>
            <h1>Success</h1>
            <p>We received your booking request <br /> Thanks for trusting us !</p>
            <a href="/Home/Index" class="home-button">Go Back Home</a>
        </div>
    </div>
</div>

<style>
    .success-wrapper {
        min-height: calc(100vh - 400px);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        margin-bottom: 40px;
    }
    
    .success-container {
        width: 100%;
        max-width: 500px;
        text-align: center;
        padding: 20px;
    }
    
    .success-icon {
        border-radius: 200px;
        height: 200px;
        width: 200px;
        background: #F8FAF5;
        margin: 0 auto;
    }
    
    .checkmark {
        color: #a59056;
        font-size: 100px;
        line-height: 200px;
        margin-left: -15px;
    }
    
    .card {
        background: white;
        padding: 40px;
        border-radius: 4px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        width: 100%;
    }
    
    .card h1 {
        color: #a59056;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
        font-weight: 900;
        font-size: 40px;
        margin-bottom: 10px;
    }
    
    .card p {
        color: #404F5E;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
        font-size: 20px;
        margin: 0;
    }
    
    .home-button {
        background-color: #a59056;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-top: 20px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s;
    }
    
    .home-button:hover {
        background-color: #8d7a46;
    }
</style>
